/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* DEBUG */

* {
  border: 1px dashed black;
}

/* GENERICS */

:root {
  --pad40: 50px;
  --min-h: 400px;
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  /* DEBUG */
  background-color: rgb(233, 233, 181);
}
.wrapper {
  font-size: 0;
  width: 100%;
}

/* HEADER */
.hdr-page {
  /* DEBUG */
  background-color: blue;
}

/* HEADER NAV BAR */

.hdr-nav-bar {
  padding: 10px 0;
  /* DEBUG */
  background-color: #add8e6;
}
.hdr-nav-bar > .container {
  display: flex;
}

/* .container > * {
  flex-grow: 1;
}       ho sbaglaito selettore perche se andavo a disporre il container con flex tutti gli elementi prendevano questa proprieta ovunque*/

.hdr-nav-bar nav {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 5px;
  text-align: center;
}
.hdr-nav-bar .hdr-logo {
  flex-grow: 1;
  padding: 5px;
}
.hdr-nav-bar .hdr-login {
  flex-grow: 1;
  padding: 5px;
  text-align: right;
}

/* HEADER INTRO PAGE */

.hdr-page > .container {
  padding: 40px 0;
}
.hdr-page .hdr-intro {
  width: 70%;
  margin: 0 auto;
  /* DEBUG */
  background-color: fuchsia;
  min-height: var(--min-h);
}

/* MAIN CONTENT */

main section:nth-child(2n) {
  /* DEBUG */
  background-color: lightgrey;
}

main section[class^="sctn"] > .container {
  padding: var(--pad40);
}

/* SECTION DEFAULT */

/* .sctn > .container {
  padding: var(--pad40) 0;
} */

.w-60,
.w-40 {
  display: inline-block;
}

.w-60 {
  width: 60%;
  /* DEBUG */
  background-color: cornflowerblue;
  min-height: var(--min-h);
}

.w-40 {
  width: 40%;
  /* DEBUG */
  background-color: rgb(220, 166, 175);
  min-height: var(--min-h);
}

/* SECTION INVERTED */

/* .sctn-inverted > .container {
  padding: var(--pad40) 0;
} */

/* SECTION WIDE CONTENT */

.wide-content {
  /* DEBUG */
  min-height: var(--min-h);
  background-color: green;
}

/* FOOTER PAGE */

.ftr-page {
  /* DEBUG */
  background-color: rgb(10, 10, 10);
}

/* FOOTER SECTION INFO CONTACTS OTHERS */

.ftr-page .ftr-sctn {
  border-bottom: 1px solid white;
}

.ftr-page .ftr-sctn .container {
  padding-top: 5px;
  padding-bottom: 15px;
  display: flex;
}

.ftr-page .container > div[class^="basis"] {
  flex-wrap: wrap;
}
.ftr-page .container > .basis30 {
  flex: 1 1 30%;
  order: -1;
  /* DEBUG */
  min-height: var(--min-h);
  background-color: lightcoral;
}
.ftr-page .container > .basis25 {
  flex: 1 1 calc(70% / 4);
  /* DEBUG */
  min-height: var(--min-h);
  background-color: lightgreen;
}

/* PIE' PAGINA */
.ftr-page > .container {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* DEBUG */
  min-height: 50px;
}
/* progetto completato senza particolari difficoltà. argomento compreso altrettanto, imparando a costruire layout si semplifica molto il lavoro concentrandosi sui dettagli in un secondo momento  */
