/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* DEBUG */

* {
  border: 1px dashed black;
}

/* GENERICS */

:root {
  --pad40: 50px;
  --min-h: 400px;
}

.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
.wrapper {
  font-size: 0;
  width: 100%;
}

/* HEADER */
.hdr-page {
  /* DEBUG */
  background-color: blue;
}

/* HEADER NAV BAR */

.hdr-nav-bar {
  padding: 10px 0;
  /* DEBUG */
  background-color: #add8e6;
}
.hdr-nav-bar > .container {
  display: flex;
}

.container > * {
  flex-grow: 1;
}

.hdr-nav-bar nav {
  flex-basis: 50%;
  padding: 5px;
  text-align: center;
}
.hdr-nav-bar .hdr-logo {
  padding: 5px;
}
.hdr-nav-bar .hdr-login {
  padding: 5px;
  text-align: right;
}

/* HEADER INTRO PAGE */

.hdr-page > .container {
  padding: 40px 0;
}
.hdr-page .hdr-intro {
  width: 70%;
  margin: 0 auto;
  /* DEBUG */
  background-color: fuchsia;
  min-height: var(--min-h);
}

/* MAIN CONTENT */

/* SECTION DEFAULT */
.sctn > .container {
  padding: var(--pad40) 0;
}
.sctn .w-60,
.sctn .w-40 {
  display: inline-block;
}
.w-60 {
  width: 60%;
  /* DEBUG */
  background-color: cornflowerblue;
  min-height: var(--min-h);
}
.w-40 {
  width: 40%;
  /* DEBUG */
  background-color: rgb(220, 166, 175);
  min-height: var(--min-h);
}
